* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
.main--container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-width: 320px;
    background-color: #f1f5f8;
    padding: 20px;
}
.main--section {
    text-align: center;
}
article {
    margin-bottom: 15px;
}
h1 {
    font-size: 4.0rem;
    color: #102b42;
}
h2 {
    font-size: 5.0rem;
    color: green;
}
ul li:nth-child(2n) button {
    margin-top: 10px;
    margin-bottom: 10px;
}
button {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 3px 15px;
    letter-spacing: 8px;
    color: #102b42;
    font-weight: bold;
    cursor: pointer;
}

@media(min-width: 768px) {
    .main--section ul {
        display: flex;
        justify-content: center;
    }
    ul li:nth-child(2n) button {
        margin: 0 15px;
    }
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 10rem;
    }
    article {
        margin: 30px 0;
    }
    button {
        padding: 10px 15px;
    }
}